---
import Button from "../components/ui/button";
import DemoTabs from "../components/demo-tabs";
import BaseLayout from "../layouts/base-layout.astro";
import logo from "../assets/logo-white.svg";
import preactLogo from "../assets/tech-icons/preact.svg";
import reactLogo from "../assets/tech-icons/react.svg";
import solidLogo from "../assets/tech-icons/solid.svg";
import typescriptLogo from "../assets/tech-icons/ts.svg";
import heroImg from "../assets/hero.jpeg";
import SolarArrowRightLineDuotone from "~icons/solar/arrow-right-line-duotone";
import SolarWalletMoneyLineDuotone from "~icons/solar/wallet-money-line-duotone";
---

<BaseLayout
  title="Hieco"
  description="Expressive tooling for teams building fast, trusted Hedera apps with type-safe SDKs, realtime primitives, wallet flows, and agent-ready workflows."
>
  <header class="fixed top-4 left-1/2 -translate-x-1/2 z-10">
    <div
      class="flex gap-12 bg-zinc-800 h-14 items-center pl-5 pr-2 ring-4 ring-white/20 rounded-xl shadow-2xl shadow-black/6"
    >
      <a href="" class="flex items-center gap-2 text-white text-xl">
        <img class="size-6" src={logo.src} alt="Hieco Logo" />
        Hieco
      </a>
      <nav class="flex gap-6">
        <a
          class="text-zinc-200 whitespace-nowrap hover:underline decoration-wavy hover:text-white transition-all"
          href="/docs"
        >
          Docs
        </a>
        <a
          class="text-zinc-200 whitespace-nowrap hover:underline decoration-wavy hover:text-white transition-all"
          href="/docs"
        >
          Ecosystem
        </a>
        <a
          class="text-zinc-200 whitespace-nowrap hover:underline decoration-wavy hover:text-white transition-all"
          href="/docs"
        >
          Examples
        </a>
      </nav>
      <button
        class="h-10 px-4 inline-flex gap-1 items-center rounded-lg font-medium text-sm bg-white hover:bg-white/90 transition-all"
      >
        <SolarWalletMoneyLineDuotone />
        Connect
      </button>
    </div>
  </header>

  <main class="min-h-lvh flex items-end relative">
    <img class="absolute size-full object-cover" src={heroImg.src} />
    <div
      class="absolute inset-0 bg-linear-to-b from-transparent via-25% via-white/95 to-transparent"
    >
    </div>

    <div class="inner isolate">
      <div class="flex flex-col items-center text-center gap-4">
        <h1 class="text-6xl tracking-tight">Build the future on Hedera</h1>
        <p class="text-xl max-w-xl text-zinc-600">
          Expressive, type-safe <img
            class="inline select-none size-8 rounded-lg align-top bg-white p-0.5"
            src={typescriptLogo.src}
            alt=""
          /> tooling for building trusted Hedera apps with framework-native hooks,
          realtime subscriptions, wallet flows, and agent-ready tools
          <img
            class="inline select-none size-8 rounded-lg align-top bg-white p-0.5"
            src={reactLogo.src}
            alt=""
          />
          <img
            class="inline select-none size-8 rounded-lg align-top bg-white p-0.5"
            src={solidLogo.src}
            alt=""
          />
          <img
            class="inline select-none size-8 rounded-lg align-top bg-white p-0.5"
            src={preactLogo.src}
            alt=""
          />.
        </p>
        <div class="flex gap-4">
          <Button>
            Start building
            <SolarArrowRightLineDuotone />
          </Button>
        </div>
      </div>

      <DemoTabs client:load />
    </div>
  </main>
</BaseLayout>
