---
import Button from "../components/ui/button";
import BaseLayout from "../layouts/base-layout.astro";
import logo from "../assets/logo.svg";
import typescriptLogo from "../assets/tech-icons/ts.svg";
import solidLogo from "../assets/tech-icons/solid.svg";
import reactLogo from "../assets/tech-icons/react.svg";
import preactLogo from "../assets/tech-icons/preact.svg";
import hederaLogo from "../assets/tech-icons/hedera.svg";
import TextureOverlay from "../components/texture-overlay.astro";
import SolarArrowRightLineDuotone from "~icons/solar/arrow-right-line-duotone";
---

<BaseLayout
	title="Hieco"
	description="The complete frontend toolkit for building on Hedera. Type-safe SDK, framework hooks, testing utilities, and real-time subscriptions."
>
	<header class="fixed top-4 inset-x-0 bg-white z-10">
		<div
			class="inner border pl-1 py-1 pr-6 border-zinc-800 flex justify-between items-center"
		>
			<a href="">
				<img class="size-10" src={logo.src} alt="Hieco Logo" />
			</a>
			<nav class="flex gap-6">
				<a href="/docs">Docs</a>
				<a href="/docs">Ecosystem</a>
				<a href="/docs">Agent Guide</a>
			</nav>
		</div>
	</header>
	<div class="h-8 overflow-hidden mt-[4.1rem]">
		<div class="inner">
			<svg width="100%" height="100%" aria-hidden="true"
				><defs
					><pattern
						viewBox="0 0 10 10"
						width="8"
						height="8"
						patternUnits="userSpaceOnUse"
						id="_r9R_g_"
						><line
							x1="0"
							y1="10"
							x2="10"
							y2="0"
							stroke="currentColor"
							vector-effect="non-scaling-stroke"
							class="stroke-[hsl(0,0%,0%)] dark:stroke-[hsl(0,0%,30%)]"
						></line></pattern
					></defs
				><rect width="100%" height="100%" fill="url(#_r9R_g_)"></rect>
			</svg>
		</div>
	</div>
	<main>
		<div
			class="inner border relative border-zinc-800 flex flex-col items-center"
		>
			<TextureOverlay />
			<div
				class="relative py-30 w-full bg-linear-to-b from-transparent via-white to-transparent"
			>
				<div
					class="max-w-5xl text-center relative mx-auto flex flex-col items-center gap-8"
				>
					<div class="bg-white border font-mono px-2 py-1">
						// Introducing <span class="underline decoration-wavy">
							Hieco
						</span>
					</div>
					<h1 class="text-8xl tracking-tight">
						Build the Future on <span
							class="bg-black text-white rounded-2xl inline-flex items-center px-4 py-2"
							>Hedera</span
						>
					</h1>
					<p
						class="text-2xl text-zinc-600 max-w-2xl leading-relaxed mx-auto"
					>
						Type-safe <img
							class="inline select-none size-8 rounded-lg shadow align-top bg-white border border-zinc-300 p-0.5"
							src={typescriptLogo.src}
							alt=""
						/> SDK, framework hooks, testing utilities, and real-time
						subscriptions <img
							class="inline select-none size-8 rounded-lg shadow align-top bg-white border border-zinc-300 p-0.5"
							src={reactLogo.src}
							alt=""
						/>
						<img
							class="inline select-none size-8 rounded-lg shadow align-top bg-white border border-zinc-300 p-0.5"
							src={solidLogo.src}
							alt=""
						/>
						<img
							class="inline select-none size-8 rounded-lg shadow align-top bg-white border border-zinc-300 p-0.5"
							src={preactLogo.src}
							alt=""
						/>. Enterprise-ready tooling for developers building the
						future on Hedera.
					</p>
					<Button
						className="h-14 px-8 rounded-full text-lg cursor-pointer bg-zinc-800 text-white [&>svg]:size-6 inline-flex items-center gap-1 hover:bg-zinc-700 transition-all"
					>
						Get Started
						<SolarArrowRightLineDuotone />
					</Button>
				</div>
			</div>
		</div>
	</main>
</BaseLayout>
